* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-collapse: collapse;
}

.table {
    margin: auto;
}

img {
    display: block;
}

.index .wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
}

.index .list__item {
    margin: 20px;
}

.mondriana_page td {
    border: 15px solid black;
    padding: 20px;
}

.mondriana_page span {
    opacity: 0;
}

.table__row--special {
    height: 98px;
}

.table__cell--main {
    width: 98px;
    height: 220px;
}


.table__cell--additional {
    width: 455px;
    height: 455px;
    background-color: red;
}

.table__cell--new {
    width: 286px;
    background-color: yellow;
}

.table__cell--backup {
    width: 98px;
    height: 335px;
}

.table__cell--colored {
    height: 215px;
    background-color: yellow;
}

.table__cell--secondary {
    height: 215px;
    background-color: black;
}

.table__cell--expanded {
    background-color: blue;
}

.table__cell--collapsed {
    background-color: red;
}

.table__cell--modified {
    background-color: black;
}