* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-collapse: collapse;
}

.table {
    margin: auto;
}

img {
    display: block;
}

.index .wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
}

.index .list__item {
    margin: 20px;
}

.table,
tr,
td {
    outline: 1px solid black;
}

.cell {
    padding: 20px;
}